QGraphicsView {
	background-color: #323232;
	border: none;
}

CalenhadView {
        color: #323232;
        background-color: #ffa02f;
}

QPushButton
{
    background-color: #00007f;
}

QPushButton:hover{
    background-color: #0000ff;
}

QPushButton:pressed{
    background-color:#7f7fff;
}

QToolTip {
    border: 1px solid black;
    background-color: #ffa02f;
    padding: 1px;
    border-radius: 3px;
}

Component {
    background-color: #323232;
}

Component > QLabel {
      color: #ffff00;
}

Component:selected {
	color: #b1b1b1;
	background-color: #c0c000;
}

QNEMessageBox {
    border: 2px solid green;
    border-radius: 4px;
    padding: 2px;
    background-color: #800080;
}

QNEMessageBox > QLabel {
    color: #000000;
}

ComponentProxyWidget {
    qproperty-normalColor: #0404c0;
    qproperty-drawingColor: #0000ff;
    qproperty-selectedColor: #000000;
    qproperty-normalWeight: 4;
    qproperty-drawingWeight: 2;
    qproperty-selectedWeight: 4
}
